<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
          <br><h4>LOGIN IN</h4><br>

            <div><%= flash[:notice] if flash[:notice] %></div>
          </div>
        <%= form_tag login_login_path, :method => 'post' do %>
            <br>
            <p>
              <%= text_field_tag "email",nil,{:placeholder => 'Email ID'} %>
            </p>
            <br>
            <p>
              <%= text_field_tag "password", nil,{:type=> 'password', :placeholder => 'Password'} %>
            </p>

            <p>
              <%= submit_tag 'Login' %>
            </p>
        <% end %>
        <br><hr>
